.task {
  display: flex;
  padding: 10px;
  border: 1px solid #000;
  margin: 5px 0px;
  justify-content: space-between;
  align-items: center;
}
body {
  margin: 0;
}
.edit-btn,
.delete-btn {
  padding: 5px 10px;
  border: 0px;
  color: #fff;
}

.edit-btn {
  background-color: #000;
}

.delete-btn {
  background-color: #ff5555;
}

.done {
  background-color: #22cd50;
}

#loading {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
